/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,200;0,500;1,100;1,400&family=Roboto&display=swap');
/* body, ul, li {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    
} */

body {
    background-color: white;
    /* background-size: cover;
    background-attachment: fixed; */
}

/* Style the header */
header {
    background-color: darkblue;
    color: #fff;
    text-align: left;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

header .email {
    padding-left: 125px;
    
}

header .no-hp {
    padding-left: 100px; 
}


ul li.nav-item{
    margin: 20px;
    font-family: 'Mooli', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-left: 50px;
}



